body {
	font-familly: fantasy;
	background-color: #E6FFE9;
}
.title {
	font-familly: meiryo;
	font-size: 30px;
	font-weight: bold;
	color: #79B1AC;
}

.post {
	border : solid 2px #808000;
	background-color: white;
	padding : 10px;
	font-familly: fantasy;
}
.comment {
	background-color: #99FF66;
	font-familly: Meiryo;
	color: #333300;
}
.comment textarea {
	margin-top: 10px;
	margin-left: 10px;
	width: 60%;
	height: 50px;
}
.comment button {
	margin-bottom: 10px;
}
.writer {
	text-align: right;
	margin-right: 10px
}
.errorMessages {
	color: red;
}
.inputfrom {
	border:0;
	padding:10px;
	font-size: 12px;
	font-family:Arial, sans-serif;
	color:#aaa;
	margin:0 0 20px;
}
.searchform input {
	width: 40px;
}
.categorySerch input {
	width: 180px;
}
.inputfrom ul li {
    list-style: none;
}
.inputfrom label {
    margin-right: 10px;
    width:100px;
    float: left;
}
.inputfrom textarea {
	margin-top: 3px;
    width:70%;
    height:100px;
    resize:vertical;
}
.inputfrom input {
	margin-top: 1px;
	margin-bottom: 1px;
	width: 200px;
}
.inputfrom select {
	margin-top: 1px;
	margin-bottom: 1px;
}

.userList {

}
table {
	overflow: scroll;
	text-align: center;
	border-collapse: collapse
}
th {
	font-familly: Meiryo;
	background-color: #00FF00;

}
table th, table td {
	border: solid 2px #808080;
}
button  {
	position: relative;
	display: inline-block;
	text-decoration: none;
	border-radius: 4px;
	border: solid 2px #C0C0C0;
}
button:hover {
	background-color: #FF6928;
	border: solid 2px #FF570D;
}
button:active {
	background-color: #000080;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
span {
	 transform: rotate(-90deg);
	 display: block;
}
.copyright {
	width: 250px;
	margin: 0 auto;
}
a {
	font-weight: bold;
	color: #022222;
}
a:hover{
  color: #B22222;
}
.submits {
	margin-left: 130px;
}
